.profile{
  @apply p-7 rounded-t-lg;
  background-color: #2eca7f;
}
.profile_content_wrapper{
  @apply grid grid-cols-3 relative;
}
.avatar{
  @apply flex justify-center items-center lg:-mb-20 text-white;
}
.content_profile{
  @apply col-span-2 flex justify-center items-center flex-col text-white;
}
.profile_item{
  @apply flex justify-center items-center relative;
}
.profile_name{
  @apply text-5xl font-bold;
}
.profile_age{
  @apply text-lg font-bold;
}
.profile_action{
  @apply absolute right-0 bottom-0;
}
.button_edit_profile{
  @apply flex gap-3 text-green-500 bg-white focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center font-bold;
}
.experience{
  @apply flex flex-col py-14 px-7 bg-white rounded-b-lg;
}
.experience_header{
  @apply flex justify-between items-end;
}
.experience_title{
  @apply font-bold text-xl;
}
.experience_content_wrapper{
  @apply py-7;
}
.experience_content{
  @apply flex gap-7 flex-col gap-5 border-l-2 border-gray-300;
}
.experience_item{
  @apply relative flex gap-7 items-center p-5 border-l-2 border-green-500 shadow-lg rounded-lg hover:bg-slate-100 ml-5;
}
.experience_item:before{
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 50%;
  left: -29px;
  border: 2px solid #2eca7f;
  z-index: 2;
}
.experience_item:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #2eca7f;
  border-radius: 10px;
  width: 29px;
  height: 2px;
  top: calc(50% + 5px);
  left: -29px;
  z-index: 1;
}
.experience_item_content{
  @apply w-full;
}
.experience_item_company{
  @apply text-lg font-bold;
}
.link_add{
  background-color: #2eca7f;
  @apply text-white font-bold py-2 px-5 rounded-lg;
}
.edit_icon{
  @apply flex;
}